// Variables
$primary-color: #ffffff; // Ant Design primary color
$secondary-color: hsl(0, 0%, 12%);
$header-background: #070846;
$drawer-background: #131e48;

// Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin transition($property: all, $duration: 0.3s, $timing: ease) {
  transition: $property $duration $timing;
}

// Responsive Navigation Styles
.mobile-header {
  @include flex-center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: $header-background;
  height: 64px;

  .logo-container {
    @include flex-center;

    .logo {
      font-size: 24px;
      color: $primary-color;
      margin-left: 15px;
    }
  }

  .menu-button {
    border: none;
    background: transparent;
    cursor: pointer;
    @include flex-center();

    &:hover {
      opacity: 0.8;
    }
  }
}

.ant-btn-icon {
  height: 64px;
  @include flex-center();
}

.desktop-header {
  @include flex-center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: $header-background;
  height: 80px;

  .logo-container {
    @include flex-center;

    .logo-text {
      font-size: 36px;
      margin-left: 15px;
      color: $primary-color;
    }
  }

  .header-items {
    @include flex-center;

    .login-button {
      margin-left: 35px;
      height: 41px;
      background: #3c65ed;
      color: #fff;
      border: none;
    }

    .menu-items {
      display: flex;
      gap: 35px;
      height: 41px;
      align-items: center;

      div {
        a {
          text-decoration: none;
          color: $primary-color;
          font-size: 20px;
          @include transition();

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
}

// Drawer Styles
.mobile-drawer {
  .ant-drawer-header {
    background-color: $drawer-background;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    .ant-drawer-title {
      font-size: 24px;
      text-transform: uppercase;
      // font-weight: bold;
      letter-spacing: 1px;
      color: $primary-color;
    }
  }

  .ant-drawer-body {
    background-color: $drawer-background;
    // padding: 1rem;

    .mobile-items {
      .menu-items {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        div {
          height: 45px;
          position: relative;
          width: 100%;

          ::after {
            content: "";
            display: block;
            width: 100%;
            height: 45px;
            opacity: .2;
            background-color: #adacb6;
            border-radius: 5px;
            margin-top: -32px;
          }

          a {
            text-decoration: none;
            color: $primary-color;
            font-size: 20px;
            font-weight: 0;
            padding: 12px;
            @include transition();

            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
    .mobile-button {
      .login-button {
        margin-left: 0;
        height: 53px;
        width: 100px;
        background: #3c65ed;
        color: #fff;
        border: none;
      }
    }
  }
}
