.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6); // Dark overlay effect
    backdrop-filter: blur(4px); // Blurred background
    z-index: 9999;
    transition: opacity 0.3s ease-in-out;
  
    .ant-spin {
      color: #0d0a3d; // White color for the spinner
    }
  
    p {
      color: #ffffff;
      font-size: 1.2rem;
      margin-top: 10px;
      text-align: center;
    }
  }
  