// Color variables (assuming these are defined globally or imported)
$primary-blue: #007bff;
$dark-blue: #0056b3;
$light-blue: #e9f5ff;
$white: #ffffff;
$light-gray: #f8f9fa;
$medium-gray: #6c757d;
$dark-gray: #343a40;
$red-danger: #dc3545;

.servico-card {
    background-color: $white;
    border: 1px solid $light-blue;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    // width: 600px;
    margin-bottom: 20px; // Space between cards
    font-family: "Arial", sans-serif;
    gap: 15px; // Space between header, body, and footer

    .article-header {
        font-size: 1.2em;
        font-weight: bold;
        color: $primary-blue;
        padding-bottom: 10px;
        border-bottom: 1px solid $light-gray;
        text-align: center; // Center the Service ID
    }

    .article-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
        width: 100%;

        .article-body-item {
            display: flex;
             justify-content: center;
             align-items: center;
             padding: .5rem;
             margin: .5rem 0;

            .span-title {
                font-weight: bold;
                color: $dark-gray;
                margin-right: 10px; // Space between title and attribute
                flex-shrink: 0; // Prevents title from shrinking
            }

            .span-atributo {
                color: $medium-gray;
                text-align: right; // Align attribute text to the right
                flex-grow: 1; // Allows attribute to take up remaining space
            }
        }
    }

    .article-footer {
        padding-top: 15px;
        border-top: 1px solid $light-gray;
        display: flex;
        justify-content: center; // Center the button

        button {
            background-color: $primary-blue;
            color: $white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
            font-weight: bold;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-transform: uppercase;
            transition:
                background-color 0.3s ease,
                transform 0.2s ease;

            &:hover {
                background-color: $dark-blue;
                transform: translateY(-2px);
            }
        }
    }

    // Styles for the "Por favor aguarde o orçamento" and "Por favor, solicite orcamento" messages
    p {
        text-align: center;
        color: $medium-gray;
        font-style: italic;
        padding: 20px;
    }
}

@media screen and (max-width: 768px) {
    .servico-card {
        .article-body {
            flex-direction: column;

            .article-body-item {
                width: 320px;
            }
        }
    }
}