@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Container Styles */
.banner-container {
    @include flex-center;
    flex-direction: column;
    height: 40vh;
    margin-top: 10vh;
    color: #fff;
    text-align: center;
    background: url("https://images.unsplash.com/photo-1542661206-03e9001692de?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
        no-repeat center center/cover;
}

.banner-title {
    font-size: 65px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

.banner-subtitle {
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
    color: #e3f2fd; /* Lighter blue for contrast */
}
