.banner {
    width: 98%;
    height: 48vh; /* Ajuste conforme necessário */
    background-image: url('https://res.cloudinary.com/dj7s4tg5e/image/upload/v1739135728/cesar_vidros_2_1_wzegnr.png');
    margin: auto;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

@media screen and (max-width: 768px) {
    .banner {
        width: 100%;
        height: 150px;
    }   
}