// Variables (nova paleta de cores)
$primary-color: #0a0a27; // Fundo escuro
$secondary-color: #1e1e1e; // Fundo secundário
$text-color: #ffffff; // Cor do texto
$accent-color: #0074d9; // Azul claro para destaque
$error-color: #ff4d4f; // Vermelho para erros
$button-color: #0056b3; // Azul mais escuro para botão
$shadow-color: rgba(0, 0, 0, 0.4); // Sombra padrão
$expanded-shadow-color: rgba(0, 0, 0, 0.6); // Sombra no modo expandido
$overlay-color: rgba(0, 0, 0, 0.7); // Fundo escuro semi-transparente

// Breakpoints
$mobile-breakpoint: 768px;

// General Reset
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

// Service Card
.servico-card {
  width: 100%;
  margin: 10px auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px $shadow-color;
  transition: transform 0.3s ease-in-out;
  background: $primary-color;
  cursor: pointer;

  .ant-card {
    border-radius: 8px;
    background: $primary-color;
    height: 100%;
    color: $text-color !important;

    .ant-card-head {
      background: $primary-color;
      font-weight: bold;
      text-align: left;
      border-bottom: 1px solid $accent-color; // Adiciona uma borda destacada
    }

    .ant-card-meta-description {
      font-size: 14px;
      color: $text-color !important;
      margin-top: 8px;
    }
  }

  .ant-card-body {
    padding: 10px 20px 20px 20px;
  }
}

.ant-card-head-title,
.ant-card-extra {
  color: $text-color !important;
  text-align: left;
}

img {
  padding: 5px;
  border-radius: 5px;
  object-fit: cover;
  height: 300px;
}

// Expanded Mode
.servico-card.expanded {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 65vw;
  height: fit-content;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-shadow: 0 10px 30px $expanded-shadow-color;
  transition: all 0.3s ease-in-out;

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .ant-card-cover {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 90% !important;
      border-radius: 25px !important;
      height: 60vh;
      padding: 15px;
      object-fit: cover !important;
    }
  }

  .ant-card-body {
    padding:0 20px 20px 20px;
    font-size: 1rem;
  }
}

// Responsive Design
@media screen and (max-width: $mobile-breakpoint) {
  .servico-card.expanded {
    width: 90vw;

    .ant-card-cover {
      padding: 0;
      img {
        width: 100% !important;
        height: 40vh !important;
      }
    }
  }
}

// Overlay
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $overlay-color;
  z-index: 999;
  transition: opacity 0.3s ease-in-out;
}
