.container-servicos {
    .separator {
        height: .2rem;
        margin: 2rem auto;
        border-radius: 1rem;
        width: calc(100% - 2rem);
        background-color: #acb1b64d;
    }

    section {
        .title-servicos {
            font-size: 2rem;
            text-transform: uppercase;
            margin-bottom: 1rem;
            margin-top: 1rem;
            margin-left: 1.7rem;
            padding: 0.5rem;

            @media (max-width: 768px) {
                font-size: 1.5rem;
            }
        }

        .message {
            text-align: center;
            margin: 5rem 0;
            font-style: italic;
            font-size: 1.4rem;
            color: #505253;
        }

        .servicos {
            display: flex;
            flex-direction: column;
            max-height: 100vh;
            overflow-y: auto;

            .grupo-orcamento {
                display: flex;
                flex-direction: column;
                margin: 1rem;
                padding: 2rem;
                border-radius: 1rem;
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);

                @media (max-width: 768px) {
                    padding: 0.5rem;
                }

                .orcamento-title {
                    font-size: 1.5rem;
                    margin-bottom: 1rem;

                    @media (max-width: 768px) {
                        padding: 1rem;
                        margin-bottom: .2rem;
                    }
                }

                .lista-servicos {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
                    place-items: center;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container-servicos {
        section {
            .servicos {
                .grupo-orcamento {
                    .lista-servicos {
                        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                    }
                }
            }
        }
    }
}
